{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <section class="w-50 mx-auto">
        <h1 class="text-center mt-5 h2"> Inscrivez-vous !</h1><span class="small d-flex justify-content-end">* Champ obligatoire</span>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.telephone) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-success">Inscrivez vous !</button>
        {{ form_end(registrationForm) }}

    </section>

{% endblock %}
